@using çalışanyönetimsistemi.Models.Baglantisql
@model List<kullanicigirişi>
@{
    ViewBag.Title = "KullanıcıBilgileri";
    Layout = "~/Views/layout/AdminLayout.cshtml";
}

<style>

    .button2 {
        width: 40px;
        height: 20px;
        background-color: red;
        color: white;
        font-size: 20px;
        border-radius: 8px;
        text-align: center;
    }

    .güncellebuton {
        width: 40px;
        height: 20px;
        background-color: green;
        font-size: 15px;
        border-radius: 8px;
        text-align: center;
    }

    table {
        border-collapse: collapse;
        box-shadow: 0 5px 10px #e1e5ee;
        background-color: white;
        text-align: left;
        overflow: hidden;
        width: 100%;
    }

    thead {
        box-shadow: 0 5px 10px #e1e5ee;
    }

    th {
        padding: 1rem 2rem;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        font-size: 15px;
        font-weight: 900;
    }

    td {
        padding: 1rem 2rem;
    }

    a {
        text-decoration: none;
        color: #2962ff;
    }
</style>

<table>

    <tr>
        <th>KULLANICI İD</th>
        <th>AD</th>
        <th>SOYAD</th>
        <th>EMAİL</th>
        <th>TEL</th>
        <th>KULLANICI ADI</th>
        <th>ŞİFRE</th>
    </tr>
    <tbody>
        @foreach (var veri in Model)
        {
            <tr>
                <th>@veri.kullaniciid</th>
                <td>@veri.ad</td>
                <td>@veri.soyad</td>
                <td>@veri.email </td>
                <td>@veri.tel</td>
                <td>@veri.kullaniciadi</td>
                <td>********</td>
            </tr>
        }
    </tbody>
</table>
